/*.rbxlx.lock
/*.rbxl.lock
**/*.rbx[lm]*
dist/

Janitor.rbxm
Janitor.rbxmx

build
Garbage

/Packages/
/DevPackages/
/built-project/
built-release.project.json
built-sourcemap.json

*.code-workspace
sourcemap.json
